.interestingItem {
    background-image: linear-gradient(white, white 50%, black 50%, black);
    background-size: 100% 200%;
    transition: background-position .5s;
}
.interestingItemBox {
    opacity: 1;
    transition: opacity .2s, transform .2s;
}
.interestingItemBoxHidden {
    transition: opacity .2s, transform .2s;
}
.interestingItem:hover > .interestingItemBox {
    opacity: 0;
    transform: translate3d(0px, -30px, 0px);
}

.interestingItem:hover > .interestingItemBoxHidden {
    opacity: 1;
    transform: translate3d(0px, -30px, 0px);
}

.imageUploadWrapHidden {
    transition: border-bottom .5s, width .5s;
}

.imageUploadWrap:hover > .imageUploadWrapHidden {
  width: 210px;
}
.imageUploadWrap:active > .imageUploadWrapHidden {
  width: 210px;
}

.animatedBorderButton:before,
.animatedBorderButton:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

.animatedBorderButton:before {
  border-top: 3px solid rgba(0, 0, 0, 0.7);
  right: 0;
  top: -4px;
}

.animatedBorderButton:after {
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
  bottom: -4px;
  left: 0;
}

.animatedBorderButton:hover:before,
.animatedBorderButton:hover:after {
  width: 100%;
  border-bottom-color: rgba(0, 0, 0,1);
  border-top-color: rgba(0, 0, 0,1);
}

.animatedBorderButton:hover {
    background-color: rgba(0, 0, 0,1);
}