.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
    margin-top: 40px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    // font-size: 35px;
    color: black;
}

.form-control textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 35px;
    color: black;
    overflow-wrap: break-word;
    resize: none;
    height: 88px;
    overflow-y: hidden;
}
  
.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom: 2px rgba(0, 0, 0, 0.6) solid;
    
}

.form-control textarea:focus,
.form-control textarea:valid {
    outline: 0;
    border-bottom: 2px rgba(0, 0, 0, 0.6) solid;
    
}
  
.form-control label {
    position: absolute;
    top: 8px;
    left: 0;
}
  
.form-control label span {
    display: inline-block;
    // font-size: 32px;
    min-width: 5px;
    color: black;
    opacity: 0.3;
    transition: 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.form-control input:focus + label span,
.form-control input:valid + label span {
    color: black;
    opacity: 0.6;
    transform: translateY(-36px);
}

.form-control textarea:focus + label span,
.form-control textarea:valid + label span {
    color: black;
    opacity: 0.6;
    transform: translateY(-36px);
}

.form-control:hover label span {
    opacity: 0.6;
}

.form-control:hover input {
    border-bottom: 2px rgba(0, 0, 0, 0.6) solid;
}

.form-control:hover textarea {
    border-bottom: 2px rgba(0, 0, 0, 0.6) solid;
}